#!/usr/bin/env bash

###
# Aliases and functions to handle common operations.
##

## Common debian aliases ##
alias ll='ls -al'
alias la='ls -a'

alias tree='tree -C'

## Helpers ##
alias untar='tar -xf'
alias untarz='tar -xzf'
alias back='cd "$OLDPWD"'

# Docker

alias dockerun='docker run --rm -it -v $(pwd):/srv -w /srv'

# Git

function gcp() { git commit "$@" && git push; }

function gsc() {
  local repo="$1"
  local path="$2"

  git clone --no-checkout "$repo"
  git config core.sparseCheckout true
  echo "$path/*"> .git/info/sparse-checkout
  git checkout main
}

# Terraform

alias tf='terraform'
alias ti='terraform init'
alias tp='terraform plan'
alias ta='terraform apply'
alias td='terraform destroy'
alias to='terraform output'
alias tim='terraform import'
alias tfmt='terraform fmt'

function tf-plan() {
  local env="${1:-default}"
  [ $# -lt 1 ] || shift

  local args=("$@")

  local tfvars="workspaces/$env.tfvars"
  [ -f "$tfvars" ] && args+=(-var-file="$tfvars")

  terraform workspace select "$env" && terraform plan -out="$env".plan "${args[@]}"
}

# SSH Helpers
alias generate-sshkey='ssh-keygen -b 4096 -t rsa -N ""'
alias fingerprint='ssh-keygen -E md5 -lf'

function my-public-key() { (eval cat ${SSH_KEY_PATH:-$HOME/.ssh/id_rsa}.pub | pbcopy) && echo "Your public key has been added to your clipboard"; }
function my-private-key() { (eval cat ${SSH_KEY_PATH:-$HOME/.ssh/id_rsa} | pbcopy) && echo "Your private key has been added to your clipboard"; }

## Overrides ##
alias tar='tar -v'

## OSX Exclusive ##
alias t="tee >(pbcopy)"
