##
# Global Ignore
##

*.gz
*.bak
*.log
*.tar
*.tmp
*.tgz
*.zip

##
# OS Files
##

# Mac OS
.DS_Store
._*
.Trashes/

# Linux
*~
*.swp

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# .gitignore
