[user]
	name = Mike Carey
	email = mike-carey@users.noreply.github.com
[alias]
	acp = "!f() { [ -n \"${@}\" ] && msg=\"$1\" && shift && git add . && git commit -m \"${msg}\" ${@} && git push ; }; f"
	st = status
	c = commit
	ci = commit
	co = commit
  cane = commit --amend --no-edit
	rv = remote -v
	rh = reset --hard
	p = push
  fp = push --force
	root = rev-parse --show-toplevel
