"*":
  "atom-beautify":
    general:
      _analyticsUserId: "b49e7edf-03f5-4b3d-a4d5-98dc503204e3"
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  core:
    customFileTypes:
      "text.ignore": [
        ".dockerignore"
      ]
    disabledPackages: [
      "ask-stack"
      "git-blame"
      "intellij-idea-keymap"
      "local-config"
      "minimap"
      "linter-flake8"
    ]
    excludeVcsIgnoredPaths: false
    projectHome: "/Users/mikecarey/workspace"
    telemetryConsent: "limited"
  editor:
    fontSize: 25
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "ed5aefaf-09ca-46c6-a067-f321e54b02d0"
  "go-plus":
    format:
      tool: "gofmt"
  "language-dotenv":
    dotenvFileNames: [
      ".env"
      ".env.example"
      ".env.local"
    ]
  "linter-flake8": {}
  "linter-terraform-syntax":
    newVersion: true
  "linter-ui-default":
    panelHeight: 229
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
